/* CSS reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
}
/* Styling the reusable parts */
.wrapper{
    width: 100%;
    max-width: 1750px;
    margin: 0 auto;
    padding: 0.625rem 0;
}

header, nav, header ul, .btn, div.other{
    display: flex;
}

/* Styling the header */
header{
    border-top: 0.125rem solid #EDEDED;
    border-right: 0.125rem solid #EDEDED;
    justify-content: space-evenly;
    padding: 0 0 3.125rem 0;
    flex-wrap: wrap;
}

header img{
    width: 15%;
    padding-left: 1.25rem;
}

nav{
    width: 45%;
    
}

nav a{
    color: #000;
}

nav ul{
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

/* Styling the main part */
section{
    padding: 0.625rem 0 2.8125rem 0;  /*Gonna see*/
    background-color: #EE752C;
}

section h3{
    color: #fff;
    text-transform: capitalize;
    text-align: center;
    padding: 1.25rem 0 0 0;
}

.banneroverlay{
    background-color: #034F89;
}

.banneroverlay form{   
    padding: 3.125rem 6.25rem;
    background-color: #fff;
    width: 70%;
    margin: 0 auto;
}

h4{
    color: #8CABBC;
}

h4, h4 + p, form p:last-child{
    text-align: center;
}

h4 + p{
    padding: 1.25rem 0;
}

input:not(input[type = "checkbox"]):not(input[type = "radio"]){
    display: block;
    width: 100%;
    padding: 5%;
    margin: 1.25rem 0 0 0;
}

a[title="connexion"]{
    display: block;
    padding: 0 0 0 0.625rem;
    margin-left: 0.625rem;
}

button{
    border: none;
    color: #fff;
    background-color: #388FD3;
    padding: 0.9375rem 1.25rem;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 0.7rem;
}

.btn{
    justify-content: flex-end;
}

.btn + p{
    padding: 0.9375rem 0 1.875rem 0;
    text-align: center;
}

p + ul {
    display: flex;
    justify-content: center;
    padding: 0 0 1.5625rem 0;
}

p + ul li:nth-child(2){
    margin: 0 1.5625rem;
}

div.other{
    padding: 1.5625rem 0 0 0;
    justify-content: center;
}

div.other img{
    width: 40%;
}

/* Styling the menu */
.menu{
    /* padding: 0.625rem 2.25rem; */
    margin: 2.25rem 0 0 0;
}

.menu ul{
    background-color: #EFEFF7;
    padding: 0.625rem 2.25rem;
}

.menu li{
    color: #6C79B0;
    padding: 1.25rem 0;
    cursor: pointer;
}

h3 span{
    display: inline-block;
    padding: 0.625rem 0.9375rem;
    border: 0.125rem solid #6C79B0;
    border-radius: 50%;
}

.menu li:first-child span{
    background-color: #6C79B0;
    color: #fff;
}

.content{
    padding: 2.5rem 0 0 0;
}

.content h2{
    text-align: center;
    width: 50%;
    padding: 1.5rem 0 0 0;
    border-top: 0.1875rem solid #FF5E13;
    margin: 0 auto;
}

.content p{
    color: #000;
    font-weight: bold;
    text-align: center;
    padding: 0.75rem 0;
}

.content form{
    margin: 1.25rem;
    padding: 2.25rem 1.25rem 0;
    background-color: #F27B37;
    border-radius: 1.25rem;
}

.lowscreen{
    padding: 1.25rem 0;
    color: #fff;
    display: flex;
    flex-wrap: no-wrap;
}

.content input{
    width: 1.25rem;
    height: 1.25rem;
}

.content label{
    padding: 0 0 0 1rem;
}

.pagination{
    display: flex;
    justify-content: flex-end;
    padding: 0.625rem 2.25rem;
}

.pagination a{
    font-weight: bold;
    color: #fff;
    background-color: #155882;
    padding: 1rem;
    /* border-radius: 0.5rem; */
}

.pagination a:first-child{
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    border-right: 0.25rem solid #fff;
}

.pagination a:last-child{
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}


/* Content that should be display for larger screens */
.content-max{
    display: none;
}

.result_banner, .result_footer{
    display: flex;
    justify-content: center;
    /* background: url(../images/doctor.svg) center no-repeat;
    height: 50rem; */
}

.result_banner img, .result_footer img{
    width: 35%;
}

.results{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /*background: url(../images/our_neighborhood.svg) center no-repeat; */
    width: 80%;
    /* height: 60rem; */
    padding: 1.25rem 2.5rem;
    margin: 0 auto;
    background-color: rgba(108, 121, 176, 0.1);
    border-radius: 1.25rem;
}

.results > p:nth-child(1){
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    /* width: 50%; */
    /* margin: 0 auto; */
    padding: 1.5rem 2.5rem;
    background-color: rgba(48, 219, 20, 0.9);
    text-align: center;
    border-radius: 0.625rem;
}

.results > p:nth-child(1) + p, .sms, .links p{
    font-weight: bold;
    padding: 2.5rem 0;
}

.advices{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80%;
    margin: 0 auto;
    padding: 1.25rem;
    /* background-color: rgba(255, 255, 255, 0.1); */
}

.advices li, .links li{
    padding: 1.25rem 0;
}

.advices span{
    font-weight: bold;
}

.links li a{
    text-decoration: underline;
}


/* Targeting the screens greater or equal to 900px */
@media screen and (min-width: 900px){

    /* Styling the reusable parts */
    section, .banneroverlay{
        display: flex;
    }

    section{
        justify-content: flex-end;
    }

    /* Styling the header */
    header{
        justify-content: space-between
    }

    nav{
        padding-right: 5.25rem;
    }
    /* Styling the main part */
    section{
        padding: 0.625rem 0 4.8125rem 0;  /*Gonna see*/
        background-color: #EE752C;
    }

    section h3{
        width: 30%;
        text-align: left;
    }

    /* Styling the banner and banneroverlay */
    .banneroverlay{
        padding: 0 5.125rem;
    }

    .banneroverlay form{
        padding: 5.125rem 2.25rem; 
        width: 70%;  
        position: relative;
        bottom: 3.4375rem;
    }

    input:not(input[type = "checkbox"]){
        padding: 2%;
    }

    div.other{
        align-items: center; 
    }

    div.other img{
        width: 60%;
        border-top: 0.0625rem solid #EDEDED;
        border-bottom: 0.0625rem solid #EDEDED;
        padding: 1.25rem 0;
        /* align-self: center; */
    }

    /* Quizz trying */
    .content{
        display: none;
    }

    /* .content form{
        display: flex;
    }

    .content label{
        padding: 0 0 1.25rem 0;
    } */

    .menu ul{
        display: flex;
        justify-content: space-around;
        padding: 0.625rem 2.25rem 2.25rem 4.25rem;
        margin-bottom: 4.125rem;
    }

    .content-max{
        display: block;
    }

    .content-max{
        padding: 2.5rem 2.25rem 0;
    }
    
    .content-max h2{
        text-align: center;
        color: #6C79B0;
        width: 50%;
        padding: 1.5rem 0 0 0;
        border-top: 0.1875rem solid #FF5E13;
        margin: 0 auto;
    }
    
    .content-max p{
        color: #000;
        font-weight: bold;
        text-align: center;
        padding: 1rem 0;
    }
    
    .content-max form{
        margin: 3.25rem 0;
        padding: 3.25rem 1.25rem;
        background-color: #F27B37;
        border-radius: 1.25rem;
    }

    .content-max form input{
        width: 1.25rem;
        height: 1.25rem;
    }
    
    .content-max form label{
        padding: 0 0 2rem 0.5rem;
        color: #fff;
    }

    .content-max form{
        display: flex;
    }

    /* Styling the results page */
    .result_check{
        display: flex;
        justify-content: space-around;
    }

    .results{
        flex-shrink: 1.25;
        
    }

    .result_banner, .result_footer{
        flex-shrink: 2;
    }

    .result_banner img, .result_footer img{
        width: 100%;
    }

}